extends layout.pug

block content
  div.my-4.d-flex.justify-content-between
    a.btn.btn-dark(href="/video/upload/") New video

  each video in videos
    h3= video.title
    video(src="/video/" + video.videoId width="500" height="300" controls preload="none")