extends ../layout.pug

block content

  a.btn.btn-dark.col-1.my-4(href="/accounts/add") Add
  
  h3 Accounts
  div.container.list-group.h-100.align-items-center.w-100
    each account in accounts
      div.row.w-75.align-items-center
        div.d-flex.flex-row.shadow.my-3.justify-content-center
          a.mx-3.my-3.col-11.text-decoration-none.text-reset(
            href="/accounts/" + account.accountId + "/users")= account.title
